# vim files
*.swp
*.swo

# built files
*.o
*.a
*.so
*.so.*
*.dll
shim.h

# test files
run.log
test/format/format
test/fs/fs
test/sanity/sanity
test/safety/safety
test/thread/threads
test/types/types

# build files
config.h
config.log
config.status
config.args
sources.mk
Makefile
.deps

# helper scripts
run.sh

# project-specific built files
